body {
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: align-center;
}

h1 {
  text-align: center
}

#featured-property {
  text-align: center
  width: 800px
}

nav {
  text-align: center
}

#details > div {
  background-color: red;
  float: left;
}